<main>
  <!-- Page Content -->
  <section class="bg-primary py-lg-2">
       <div class="container">
         <div class="row align-items-center">
           <div class="col-xl-12 col-lg-12 col-md-12 col-12">
             <div class="scrollmenu">
                <button style="background: white; border: none; border-radius: 5px; color: black; padding: 5px;">Categories</button>
                <a href="<%= products_path %>" class="text-white"><strong>All</strong></a>
                <% Category.all.each do |category| %>
                  <a href="<%= products_path(name: category.name ) %>" class="text-white"><strong><%= category.name %></strong></a>
                <% end %>
              </div>
           </div>
         </div>
       </div>
  </section>

  <!-- product -->
  <% if @products.present? %>
    <section class="pt-lg-12 pb-lg-3 pt-5 pb-6">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h2 class="mb-0 text-primary">Recommended to you</h2>
          </div>
        </div>
        <div class="position-relative">
          <ul class="controls " id="sliderFirstControls">
            <li class="prev">
              <i class="fe fe-chevron-left"></i>
            </li>
            <li class="next">
              <i class="fe fe-chevron-right"></i>
            </li>
          </ul>
            <div class="sliderFirst">
              <% @products.each do |product| %>
                <div class="item">
                  <!-- Card -->
                  <div class="card  mb-4 card-hover">
                    <% if product&.main_image.present? %>
                      <center>
                        <a href="<%= product_path(product) %>" ><%= image_tag url_for(product.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                        </a>
                      </center>
                    <% else %>
                      <center>
                        <a href="<%= product_path(product) %>">
                          <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                        </a>
                      </center>
                    <% end %>
                    <!-- Card Body -->
                    <div class="landing-card-body card-body">
                      <h4 class="mb-2 text-truncate-line-2 ">
                        <a href="<%= product_path(product) %>" class="text-inherit card-img-top inner-img"><%= product.name %>
                        </a>
                      </h4>

                      <!-- Price -->
                      <div class="lh-1 mt-3">
                        <span class="text-dark fw-bold">RS <%= product.price %></span>
                        <del class="fs-6 text-muted"><%= product&.actual_price %></del>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @upcoming_products.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Upcoming Phones</h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderSecondControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderSecond">
                  <% @upcoming_products.each do |upcoming_product| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if upcoming_product&.main_image.present? %>
                          <center>
                            <a href="<%= product_path(upcoming_product) %>">
                              <%= image_tag url_for(upcoming_product.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                            </a>
                          </center>
                        <% else %>
                          <center>
                            <a href="<%= product_path(upcoming_product) %>">
                              <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                            </a>
                          </center>
                        <% end %>
                        <!-- Card Body -->
                        <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2 ">
                            <a href="<%= product_path(upcoming_product) %>" class="text-inherit card-img-top inner-img"><%= upcoming_product.name %>
                            </a>
                          </h4>
                          <!-- Price -->
                          <div class="lh-1 mt-3">
                            <span class="text-dark fw-bold">RS <%= upcoming_product.price %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @oppo_latest.present? %>
    <section class="pb-lg-8 pt-lg-3 py-6">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Oppo </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderThirdControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderThird">
                  <% @oppo_latest.each do |oppo| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if oppo&.main_image.present? %>
                          <center>
                            <a href="<%= product_path(oppo) %>">
                              <%= image_tag url_for(oppo.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                            </a>
                          </center>
                        <% else %>
                            <center>
                              <a href="<%= product_path(oppo) %>">
                                <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                              </a>
                          </center>
                        <% end %>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(oppo) %>" class="text-inherit card-img-top inner-img"><%= oppo.name %>
                              </a>
                            </h4>

                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= oppo.price %></span>
                                <del class="fs-6 text-muted"><%= oppo.actual_price %></del>
                            </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @vivo_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Vivo </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderFourthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderFourth">
                  <% @vivo_latest.each do |vivo| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if vivo&.main_image.present? %>
                          <center>
                            <a href="<%= product_path(vivo) %>">
                              <%= image_tag url_for(vivo.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                            </a>
                          </center>
                        <% else %>
                          <center>
                            <a href="<%= product_path(vivo) %>">
                              <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                            </a>
                          </center>
                        <% end %>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(vivo) %>" class="text-inherit card-img-top inner-img"><%= vivo.name %>
                              </a>
                            </h4>
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= vivo.price %></span>
                                <del class="fs-6 text-muted"><%= vivo.actual_price %></del>
                            </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @samsung_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Samsung </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderFifthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderFifth">
                  <% @samsung_latest.each do |samsung| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if samsung&.main_image.present? %>
                          <center>
                            <a href="<%= product_path(samsung) %>">
                              <%= image_tag url_for(samsung.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                            </a>
                          </center>
                        <% else %>
                          <center>
                            <a href="<%= product_path(samsung) %>">
                              <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                            </a>
                          </center>
                        <% end %>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(samsung) %>" class="text-inherit card-img-top inner-img"><%= samsung.name %>
                              </a>
                            </h4>
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= samsung.price %></span>
                                <del class="fs-6 text-muted"><%= samsung.actual_price %></del>
                            </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @tecno_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Tecno </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderSixthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderSixth">
                  <% @tecno_latest.each do |tecno| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if tecno&.main_image.present? %>
                          <center>
                            <a href="<%= product_path(tecno) %>">
                              <%= image_tag url_for(tecno.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                            </a>
                          </center>
                        <% else %>
                          <center>
                            <a href="<%= product_path(tecno) %>">
                              <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                            </a>
                          </center>
                        <% end %>
                        <!-- Card Body -->
                        <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2 ">
                            <a href="<%= product_path(tecno) %>" class="text-inherit card-img-top inner-img"><%= tecno.name %>
                            </a>
                          </h4>
                          <!-- Price -->
                          <div class="lh-1 mt-3">
                            <span class="text-dark fw-bold">RS <%= tecno.price %></span>
                            <del class="fs-6 text-muted"><%= tecno.actual_price %></del>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @infinix_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Infinix </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderSeventhControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderSeventh">
                  <% @infinix_latest.each do |infinix| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if infinix&.main_image.present? %>
                          <center>
                            <a href="<%= product_path(infinix) %>">
                              <%= image_tag url_for(infinix.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                            </a>
                          </center>
                        <% else %>
                          <center>
                            <a href="<%= product_path(infinix) %>">
                              <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                            </a>
                          </center>
                        <% end %>
                        <!-- Card Body -->
                        <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2 ">
                            <a href="<%= product_path(infinix) %>" class="text-inherit card-img-top inner-img"><%= infinix.name %>
                            </a>
                          </h4>
                          <!-- Price -->
                          <div class="lh-1 mt-3">
                            <span class="text-dark fw-bold">RS <%= infinix.price %></span>
                            <del class="fs-6 text-muted"><%= infinix.actual_price %></del>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @huawei_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Huawei </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderEighthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderEighth">
                  <% @huawei_latest.each do |huawei| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if huawei&.main_image.present? %>
                          <center>
                            <a href="<%= product_path(huawei) %>">
                              <%= image_tag url_for(huawei.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                            </a>
                          </center>
                        <% else %>
                          <center>
                            <a href="<%= product_path(huawei) %>">
                              <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                            </a>
                          </center>
                        <% end %>
                        <!-- Card Body -->
                        <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2 ">
                            <a href="<%= product_path(huawei) %>" class="text-inherit card-img-top inner-img"><%= huawei.name %>
                            </a>
                          </h4>
                          <!-- Price -->
                          <div class="lh-1 mt-3">
                            <span class="text-dark fw-bold">RS <%= huawei.price %></span>
                            <del class="fs-6 text-muted"><%= huawei.actual_price %></del>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @iphone_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Iphone </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderNinthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderNinth">
                  <% @iphone_latest.each do |iphone| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if iphone&.main_image.present? %>
                          <center>
                            <a href="<%= product_path(iphone) %>">
                              <%= image_tag url_for(iphone.main_image), class:"card-img-top inner-img", style: "max-width:100%;" %>
                            </a>
                          </center>
                        <% else %>
                          <center>
                            <a href="<%= product_path(iphone) %>">
                              <img src="assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:100%;">
                            </a>
                          </center>
                        <% end %>
                        <!-- Card Body -->
                        <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2 ">
                            <a href="<%= product_path(iphone) %>" class="text-inherit card-img-top inner-img"><%= iphone.name %>
                            </a>
                          </h4>
                          <!-- Price -->
                          <div class="lh-1 mt-3">
                            <span class="text-dark fw-bold">RS <%= iphone.price %></span>
                            <del class="fs-6 text-muted"><%= iphone.actual_price %></del>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>
</main>
