<main>
  <!-- Page Content -->
  <section class="bg-primary py-lg-2">
       <div class="container">
         <div class="row align-items-center">
           <div class="col-xl-12 col-lg-12 col-md-12 col-12">
             <div class="scrollmenu">
                <button style="background: white; border: none; border-radius: 5px; color: black; padding: 5px;">Categories</button>
                <a href="<%= products_path %>" class="text-white"><strong>All</strong></a>
                <a href="<%= products_path(name: "oppo") %>" class="text-white"><strong>Oppo</strong></a>
                <a href="<%= products_path(name: "vivo") %>" class="text-white"><strong>Vivo</strong></a>
                <a href="<%= products_path(name: "samsung") %>" class="text-white"><strong>Samsung</strong></a>
                <a href="<%= products_path(name: "infinix") %>" class="text-white"><strong>Infinix</strong></a>
                <a href="<%= products_path(name: "techno") %>" class="text-white"><strong>Techno</strong></a>
                <a href="#" class="text-white"><strong>Xiaomi</strong></a>
                <a href="<%= products_path(name: "huawei") %>" class="text-white"><strong>Huawei</strong></a>
                <a href="<%= products_path(name: "iphone") %>" class="text-white"><strong>Apple</strong></a>
                <a href="<%= products_path(name: "nokia") %>" class="text-white"><strong>Nokia</strong></a>
                <a href="<%= products_path(name: "oneplus") %>" class="text-white"><strong>Oneplus</strong></a>
                <a href="<%= products_path(name: "motorola") %>" class="text-white"><strong>Motorola</strong></a>
              </div>
           </div>
         </div>
       </div>
  </section>

  <!-- product -->
  <% if @products.present? %>
    <section class="pt-lg-12 pb-lg-3 pt-5 pb-6">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h2 class="mb-0 text-primary">Recommended to you</h2>
          </div>
        </div>
        <div class="position-relative">
          <ul class="controls " id="sliderFirstControls">
            <li class="prev">
              <i class="fe fe-chevron-left"></i>
            </li>
            <li class="next">
              <i class="fe fe-chevron-right"></i>
            </li>
          </ul>
            <div class="sliderFirst">
              <% @products.each do |product| %>
                <div class="item">
                  <!-- Card -->
                  <div class="card  mb-4 card-hover">
                    <% if product&.images.first.present? %>
                        <center>
                            <a href="<%= product_path(product) %>" class="card-img-top"><%= image_tag(product.images.first.url, style: "max-width:120px;") %>
                             <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                            </a>
                        </center>
                    <% else %>
                      <a href="<%= product_path(product) %>" class="card-img-top"><img src="assets/course-react.jpg"
                        alt="course" class="rounded-top-md card-img-top">
                    <% end %>
                    </a>
                    <!-- Card Body -->
                    <div class="card-body">
                        <h4 class="mb-2 text-truncate-line-2 ">
                          <a href="<%= product_path(product) %>" class="text-inherit card-img-top"><%= product.name %>
                          </a>
                        </h4>
                        <!-- List -->
                        <!-- <ul class="mb-3 list-inline">
                          <li class="list-inline-item">
                            <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                          </li>
                          <li class="list-inline-item">
                            <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                              <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                              <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                              <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                            </svg> Beginner
                          </li>
                        </ul> -->
                        <!-- <div class="lh-1">
                          <span>
                              <i class="mdi mdi-star text-warning me-n1"></i>
                              <i class="mdi mdi-star text-warning me-n1"></i>
                              <i class="mdi mdi-star text-warning me-n1"></i>
                              <i class="mdi mdi-star text-warning me-n1"></i>
                              <i class="mdi mdi-star text-warning"></i>
                          </span>
                          <span class="text-warning">4.5</span>
                          <span class="fs-6 text-muted">(7,700)</span>
                        </div> -->
                        <!-- Price -->
                        <div class="lh-1 mt-3">
                            <span class="text-dark fw-bold">RS <%= product.price %></span>
                            <del class="fs-6 text-muted">$750</del>
                        </div>
                    </div>
                    <!-- Card Footer -->
                   <!--  <div class="card-footer">
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <%# if product.sub_category&.picture.present? %>
                            <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                          <%# else %>
                            <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                alt="avatar">
                          <%# end %>
                        </div>
                        <div class="col ms-2">
                          <span><%#= product.sub_category.name %></span>
                        </div>
                        <div class="col-auto">
                          <a href="#" class="text-muted bookmark">
                              <i class="fe fe-bookmark  "></i>
                          </a>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @upcoming_products.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Upcoming Phones</h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderSecondControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderSecond">
                  <% @upcoming_products.each do |upcoming_product| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if upcoming_product&.images.first.present? %>
                            <center>
                                <a href="<%= product_path(upcoming_product) %>" class="card-img-top">
                                    <%= image_tag(upcoming_product.images.first.url, style: "max-width:120px;") %>
                                 <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                                </a>
                            </center>
                        <% else %>
                          <a href="<%= product_path(upcoming_product) %>" class="card-img-top"><img src="assets/course-react.jpg"
                            alt="course" class="rounded-top-md card-img-top">
                        <% end %>
                        </a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(upcoming_product) %>" class="text-inherit card-img-top"><%= upcoming_product.name %>
                              </a>
                            </h4>
                            <!-- List -->
                            <!-- <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                </svg> Beginner
                              </li>
                            </ul> -->
                            <!-- <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                            </div> -->
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= upcoming_product.price %></span>
                                <del class="fs-6 text-muted">$850</del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                       <!--  <div class="card-footer">
                          <div class="row align-items-center g-0">
                            <div class="col-auto">
                              <%# if product.sub_category&.picture.present? %>
                                <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                              <%# else %>
                                <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                    alt="avatar">
                              <%# end %>
                            </div>
                            <div class="col ms-2">
                              <span><%#= product.sub_category.name %></span>
                            </div>
                            <div class="col-auto">
                              <a href="#" class="text-muted bookmark">
                                  <i class="fe fe-bookmark  "></i>
                              </a>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @oppo_latest.present? %>
    <section class="pb-lg-8 pt-lg-3 py-6">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Oppo </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderThirdControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderThird">
                  <% @oppo_latest.each do |oppo| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if oppo&.images.first.present? %>
                            <center>
                                <a href="<%= product_path(oppo) %>" class="card-img-top">
                                    <%= image_tag(oppo.images.first.url, style: "max-width:120px;") %>
                                 <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                                </a>
                            </center>
                        <% else %>
                          <a href="<%= product_path(oppo) %>" class="card-img-top"><img src="assets/course-react.jpg"
                            alt="course" class="rounded-top-md card-img-top">
                        <% end %>
                        </a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(oppo) %>" class="text-inherit card-img-top"><%= oppo.name %>
                              </a>
                            </h4>
                            <!-- List -->
                            <!-- <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                </svg> Beginner
                              </li>
                            </ul> -->
                            <!-- <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                            </div> -->
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= oppo.price %></span>
                                <del class="fs-6 text-muted">$850</del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                       <!--  <div class="card-footer">
                          <div class="row align-items-center g-0">
                            <div class="col-auto">
                              <%# if product.sub_category&.picture.present? %>
                                <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                              <%# else %>
                                <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                    alt="avatar">
                              <%# end %>
                            </div>
                            <div class="col ms-2">
                              <span><%#= product.sub_category.name %></span>
                            </div>
                            <div class="col-auto">
                              <a href="#" class="text-muted bookmark">
                                  <i class="fe fe-bookmark  "></i>
                              </a>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @vivo_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Vivo </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderFourthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderFourth">
                  <% @vivo_latest.each do |vivo| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if vivo&.images.first.present? %>
                            <center>
                                <a href="<%= product_path(vivo) %>" class="card-img-top">
                                    <%= image_tag(vivo.images.first.url, style: "max-width:120px;") %>
                                 <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                                </a>
                            </center>
                        <% else %>
                          <a href="<%= product_path(vivo) %>" class="card-img-top"><img src="assets/course-react.jpg"
                            alt="course" class="rounded-top-md card-img-top">
                        <% end %>
                        </a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(vivo) %>" class="text-inherit card-img-top"><%= vivo.name %>
                              </a>
                            </h4>
                            <!-- List -->
                            <!-- <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                </svg> Beginner
                              </li>
                            </ul> -->
                            <!-- <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                            </div> -->
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= vivo.price %></span>
                                <del class="fs-6 text-muted">$850</del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                       <!--  <div class="card-footer">
                          <div class="row align-items-center g-0">
                            <div class="col-auto">
                              <%# if product.sub_category&.picture.present? %>
                                <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                              <%# else %>
                                <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                    alt="avatar">
                              <%# end %>
                            </div>
                            <div class="col ms-2">
                              <span><%#= product.sub_category.name %></span>
                            </div>
                            <div class="col-auto">
                              <a href="#" class="text-muted bookmark">
                                  <i class="fe fe-bookmark  "></i>
                              </a>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @samsung_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Samsung </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderFifthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderFifth">
                  <% @samsung_latest.each do |samsung| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if samsung&.images.first.present? %>
                            <center>
                                <a href="<%= product_path(samsung) %>" class="card-img-top">
                                    <%= image_tag(samsung.images.first.url, style: "max-width:120px;") %>
                                 <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                                </a>
                            </center>
                        <% else %>
                          <a href="<%= product_path(samsung) %>" class="card-img-top"><img src="assets/course-react.jpg"
                            alt="course" class="rounded-top-md card-img-top">
                        <% end %>
                        </a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(samsung) %>" class="text-inherit card-img-top"><%= samsung.name %>
                              </a>
                            </h4>
                            <!-- List -->
                            <!-- <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                </svg> Beginner
                              </li>
                            </ul> -->
                            <!-- <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                            </div> -->
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= samsung.price %></span>
                                <del class="fs-6 text-muted">$850</del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                       <!--  <div class="card-footer">
                          <div class="row align-items-center g-0">
                            <div class="col-auto">
                              <%# if product.sub_category&.picture.present? %>
                                <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                              <%# else %>
                                <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                    alt="avatar">
                              <%# end %>
                            </div>
                            <div class="col ms-2">
                              <span><%#= product.sub_category.name %></span>
                            </div>
                            <div class="col-auto">
                              <a href="#" class="text-muted bookmark">
                                  <i class="fe fe-bookmark  "></i>
                              </a>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @tecno_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Tecno </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderSixthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderSixth">
                  <% @tecno_latest.each do |tecno| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if tecno&.images.first.present? %>
                            <center>
                                <a href="<%= product_path(tecno) %>" class="card-img-top">
                                    <%= image_tag(tecno.images.first.url, style: "max-width:120px;") %>
                                 <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                                </a>
                            </center>
                        <% else %>
                          <a href="<%= product_path(tecno) %>" class="card-img-top"><img src="assets/course-react.jpg"
                            alt="course" class="rounded-top-md card-img-top">
                        <% end %>
                        </a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(tecno) %>" class="text-inherit card-img-top"><%= tecno.name %>
                              </a>
                            </h4>
                            <!-- List -->
                            <!-- <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                </svg> Beginner
                              </li>
                            </ul> -->
                            <!-- <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                            </div> -->
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= tecno.price %></span>
                                <del class="fs-6 text-muted">$850</del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                       <!--  <div class="card-footer">
                          <div class="row align-items-center g-0">
                            <div class="col-auto">
                              <%# if product.sub_category&.picture.present? %>
                                <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                              <%# else %>
                                <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                    alt="avatar">
                              <%# end %>
                            </div>
                            <div class="col ms-2">
                              <span><%#= product.sub_category.name %></span>
                            </div>
                            <div class="col-auto">
                              <a href="#" class="text-muted bookmark">
                                  <i class="fe fe-bookmark  "></i>
                              </a>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @infinix_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Infinix </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderSeventhControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderSeventh">
                  <% @infinix_latest.each do |infinix| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if infinix&.images.first.present? %>
                            <center>
                                <a href="<%= product_path(infinix) %>" class="card-img-top">
                                    <%= image_tag(infinix.images.first.url, style: "max-width:120px;") %>
                                 <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                                </a>
                            </center>
                        <% else %>
                          <a href="<%= product_path(infinix) %>" class="card-img-top"><img src="assets/course-react.jpg"
                            alt="course" class="rounded-top-md card-img-top">
                        <% end %>
                        </a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(infinix) %>" class="text-inherit card-img-top"><%= infinix.name %>
                              </a>
                            </h4>
                            <!-- List -->
                            <!-- <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                </svg> Beginner
                              </li>
                            </ul> -->
                            <!-- <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                            </div> -->
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= infinix.price %></span>
                                <del class="fs-6 text-muted">$850</del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                       <!--  <div class="card-footer">
                          <div class="row align-items-center g-0">
                            <div class="col-auto">
                              <%# if product.sub_category&.picture.present? %>
                                <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                              <%# else %>
                                <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                    alt="avatar">
                              <%# end %>
                            </div>
                            <div class="col ms-2">
                              <span><%#= product.sub_category.name %></span>
                            </div>
                            <div class="col-auto">
                              <a href="#" class="text-muted bookmark">
                                  <i class="fe fe-bookmark  "></i>
                              </a>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @huawei_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Huawei </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderEighthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderEighth">
                  <% @huawei_latest.each do |huawei| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if huawei&.images.first.present? %>
                            <center>
                                <a href="<%= product_path(huawei) %>" class="card-img-top">
                                    <%= image_tag(huawei.images.first.url, style: "max-width:120px;") %>
                                 <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                                </a>
                            </center>
                        <% else %>
                          <a href="<%= product_path(huawei) %>" class="card-img-top"><img src="assets/course-react.jpg"
                            alt="course" class="rounded-top-md card-img-top">
                        <% end %>
                        </a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(huawei) %>" class="text-inherit card-img-top"><%= huawei.name %>
                              </a>
                            </h4>
                            <!-- List -->
                            <!-- <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                </svg> Beginner
                              </li>
                            </ul> -->
                            <!-- <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                            </div> -->
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= huawei.price %></span>
                                <del class="fs-6 text-muted">$850</del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                       <!--  <div class="card-footer">
                          <div class="row align-items-center g-0">
                            <div class="col-auto">
                              <%# if product.sub_category&.picture.present? %>
                                <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                              <%# else %>
                                <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                    alt="avatar">
                              <%# end %>
                            </div>
                            <div class="col ms-2">
                              <span><%#= product.sub_category.name %></span>
                            </div>
                            <div class="col-auto">
                              <a href="#" class="text-muted bookmark">
                                  <i class="fe fe-bookmark  "></i>
                              </a>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>

  <% if @iphone_latest.present? %>
    <section class="pb-lg-3 pt-lg-3">
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="mb-0 text-primary">Latest From Iphone </h2>
                </div>
            </div>
            <div class="position-relative">
                <ul class="controls " id="sliderNinthControls">
                    <li class="prev">
                        <i class="fe fe-chevron-left"></i>
                    </li>
                    <li class="next">
                        <i class="fe fe-chevron-right"></i>
                    </li>
                </ul>
                <div class="sliderNinth">
                  <% @iphone_latest.each do |iphone| %>
                    <div class="item">
                      <!-- Card -->
                      <div class="card  mb-4 card-hover">
                        <% if iphone&.images.first.present? %>
                            <center>
                                <a href="<%= product_path(iphone) %>" class="card-img-top">
                                    <%= image_tag(iphone.images.first.url, style: "max-width:120px;") %>
                                 <%#= image_tag(product.images.first,  style: "max-width:120px;")%>
                                </a>
                            </center>
                        <% else %>
                          <a href="<%= product_path(iphone) %>" class="card-img-top"><img src="assets/course-react.jpg"
                            alt="course" class="rounded-top-md card-img-top">
                        <% end %>
                        </a>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2 ">
                              <a href="<%= product_path(iphone) %>" class="text-inherit card-img-top"><%= iphone.name %>
                              </a>
                            </h4>
                            <!-- List -->
                            <!-- <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                </svg> Beginner
                              </li>
                            </ul> -->
                            <!-- <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                            </div> -->
                            <!-- Price -->
                            <div class="lh-1 mt-3">
                                <span class="text-dark fw-bold">RS <%= iphone.price %></span>
                                <del class="fs-6 text-muted">$850</del>
                            </div>
                        </div>
                        <!-- Card Footer -->
                       <!--  <div class="card-footer">
                          <div class="row align-items-center g-0">
                            <div class="col-auto">
                              <%# if product.sub_category&.picture.present? %>
                                <%#= image_tag rails_blob_path(product.sub_category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xs" %>
                              <%# else %>
                                <img src="assets/avatar-1.jpg" class="rounded-circle avatar-xs"
                                    alt="avatar">
                              <%# end %>
                            </div>
                            <div class="col ms-2">
                              <span><%#= product.sub_category.name %></span>
                            </div>
                            <div class="col-auto">
                              <a href="#" class="text-muted bookmark">
                                  <i class="fe fe-bookmark  "></i>
                              </a>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>
  <% end %>
</main>
