<body>
  <!-- Wrapper -->
  <div id="db-wrapper">
    <!-- Sidebar -->
    <%= render 'shopkeepers/dashboard/sidebar' %>
    <!-- Page Content -->
    <main id="page-content">
      <div class="header">
        <!-- navbar -->
        <%= render 'shopkeepers/dashboard/navbar' %>
      </div>
      <!-- Container fluid -->
      <section class="container-fluid p-4">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12 mb-2">
            <%= render 'shared/flash_messages' %>
            <!-- Page header -->
            <div class="d-lg-flex align-items-center justify-content-between">
              <div class="mb-2 mb-lg-0">
                <h1 class="mb-0 h2 fw-bold"><%= @shopkeeper_shop.shop_name %>
                </h1>
              </div>
            </div>
          </div>
        </div>
        <!-- row  -->
        <div class="row">
          <div class="col-12 mb-4">
            <!-- nav  -->
            <ul class="nav nav-lb-tab">
              <li class="nav-item ms-0 me-3">
                <a class="nav-link active" href="#">Overview</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">

          <div class="col-md-12 col-xl-8 col-12">
            <div class="row">
              <div class="col-12 mb-4">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex justify-content-between
                     align-items-center">
                      <div>
                        <h4 class="mb-0">Shop Overview</h4>
                      </div>
                      <!-- dropdown  -->
                      <% if current_user.shopkeeper? && can?(:update, @shopkeeper_shop) %>
                        <div>
                          <span class="dropdown dropstart">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button"
                               id="Dropdown<%= @shopkeeper_shop.id %>" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                            </a>
                            <span class="dropdown-menu" aria-labelledby="Dropdown<%= @shopkeeper_shop.id %>">
                              <span class="dropdown-header">Settings</span>
                              <%= link_to 'Edit Shop', edit_shopkeeper_shop_path(@shopkeeper_shop), class: 'dropdown-item' %>
                              <%= button_to 'Delete Shop', shopkeeper_shop_path(@shopkeeper_shop), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item btn btn-danger' %>
                            </span>
                          </span>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="card-body">
                    <p><%= @shopkeeper_shop.description %></p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <i class="bi bi-calendar me-2 text-primary"></i>
                            <div class="ms-2">
                              <h5 class="mb-0 text-body">Start Date</h5>
                            </div>
                          </div>
                          <div>
                            <p class="text-dark mb-0 fw-semibold"><%= @shopkeeper_shop.created_at.strftime("%d %b, %Y") %></p>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item  px-0">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <i class="bi bi-geo-alt me-2 text-primary"></i>
                            <div class="ms-2">
                              <h5 class="mb-0 text-body">Address</h5>
                            </div>
                          </div>
                          <div>
                            <p class="text-dark mb-0 fw-semibold"><%= @shopkeeper_shop.address %></p>
                          </div>
                        </div>
                      </li>

                      <li class="list-group-item  px-0">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <i class="bi bi-telephone me-2 me-2 text-primary"></i>
                            <div class="ms-2">
                              <h5 class="mb-0 text-body">Contact</h5>
                            </div>
                          </div>
                          <div>
                            <p class="text-dark mb-0 fw-semibold"><%= @shopkeeper_shop.contact_info %></p>
                          </div>
                        </div>
                      </li>

                      <li class="list-group-item  px-0">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <i class="bi bi-clock me-2 text-primary"></i>
                            <div class="ms-2">
                              <h5 class="mb-0 text-body">Operating Hours</h5>
                            </div>
                          </div>
                          <div>
                            <p class="text-dark mb-0 fw-semibold"><%= @shopkeeper_shop.operating_hours %></p>
                          </div>
                        </div>
                      </li>

                      <li class="list-group-item  px-0">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <i class="bi bi-geo-alt me-2 text-primary"></i>
                            <div class="ms-2">
                              <h5 class="mb-0 text-body">Location</h5>
                            </div>
                          </div>
                          <div>
                            <p class="text-dark mb-0 fw-semibold"><%= @shopkeeper_shop.location %></p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-4">
                <!-- card -->
                <div class="card">
                  <div class="card-header">
                    <h4 class="mb-0">Analytics </h4>

                  </div>
                  <!-- card body -->

                  <!-- row -->
                  <div class="row">

                    <!-- col -->
                    <div class="col-lg-4 col-md-12 col-12">
                      <div class="d-flex align-items-center justify-content-between p-4">
                        <div>
                          <h2 class="h1 fw-bold mb-0">52,000</h2>
                          <p class="mb-0">Total Phones Sold</p>

                        </div>
                        <div class="ms-3">
                          <div class="icon-shape icon-lg bg-light-primary text-primary rounded-circle">
                            <i class="fe fe-dollar-sign fs-3"></i>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- col -->
                    <div class="col-lg-4 col-md-12 col-12 border-start-md">
                      <div class="d-flex align-items-center justify-content-between p-4">
                        <div>
                          <h2 class="h1 fw-bold mb-0">$43,230</h2>
                          <p class="mb-0">Total Earn</p>

                        </div>
                        <div class="ms-3">
                          <div class="icon-shape icon-lg bg-light-danger text-danger rounded-circle">
                            <i class="fe fe-shopping-cart fs-3"></i>
                          </div>

                        </div>
                      </div>

                    </div>
                    <!-- col -->
                    <div class="col-lg-4 col-md-12 col-12 border-start-md">
                      <div class="d-flex align-items-center justify-content-between p-4">
                        <div>
                          <h2 class="h1 fw-bold mb-0"> <%= @product_count %>
                          </h2>
                          <p class="mb-0">Remaining Phones</p>

                        </div>
                        <div class="ms-3">
                          <div class="icon-shape icon-lg bg-light-success text-success rounded-circle">
                            <i class="fe fe-pie-chart fs-3"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-4">
                <div class="card">
                  <!-- card header -->
                  <% if @shop_products.any? %>
                    <div class="card-header">
                      <h4 class="mb-0">All Phones in This Shop</h4>
                      <div class="d-flex flex-wrap mt-2">
                        <!-- Example button group -->
                        <button class="btn btn-primary me-2 mb-2">Categories</button>
                        <a href="#" class="btn btn-primary me-2 mb-2">All</a>
                        <a href="#" class="btn btn-primary me-2 mb-2">Samsung</a>
                        <a href="#" class="btn btn-primary me-2 mb-2">Oppo</a>
                        <a href="#" class="btn btn-primary me-2 mb-2">Vivo</a>
                        <!-- Add more buttons as needed -->
                      </div>
                    </div>
                  <% else %>
                    <div class="card-header">
                      <h4 class="mb-0">All Phones in This Shop</h4>
                    </div>
                  <% end %>
                  <div class="card-body">
                    <!-- This Shop's Phones -->
                    <div class="row">
                      <!-- Iterate over products -->
                      <% if @shop_products.any? %>
                        <% @shop_products.each do |product| %>
                          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                            <!-- Card -->
                            <div class="card card-hover">
                              <% if product&.main_image.present? %>
                                <a href="<%= product_path(product) %>">
                                  <%= image_tag url_for(product.main_image), class: "card-img-top", style: "object-fit: cover; width: 100%; height: auto;" %>
                                </a>
                              <% else %>
                                <a href="<%= product_path(product) %>">
                                  <img src="/assets/official.png" alt="product image" class="card-img-top" style="object-fit: cover; width: 100%; height: auto;">
                                </a>
                              <% end %>
                              <!-- Card Body -->
                              <div class="landing-card-body">
                                <h4 class="mb-2 text-truncate">
                                  <a href="<%= product_path(product) %>" class="text-inherit"><%= product.name %></a>
                                </h4>
                                <p>Quantity: <%= shop_product_quantity(@shopkeeper_shop, product) %></p>
                                <div class="lh-1">
                                  <span class="text-dark fw-bold">RS <%= product.price %></span>
                                  <del class="fs-6 text-muted">RS <%= product.actual_price %></del>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% else %>
                        <div class="col-12">
                          <div class="alert alert-info text-center">
                            <h5 class="alert-heading">No Phones Added Yet!</h5>
                            <p>It looks like you haven’t added any phones to your shop yet. To start showcasing your products, please add some phones to your inventory. If you need any assistance, feel free to reach out to support!</p>
                            <p>For immediate assistance, you can</p>
                            <div class="text-center mt-4">
                              <a href="https://wa.me/923134209115" target="_blank" class="btn btn-success rounded-pill px-4 py-2 text-white" style="background-color: #25D366; border-color: #25D366; font-weight: 600;">
                                  Contact Us on WhatsApp
                              </a>
                            </div>
                          </div>
                        </div>
                      <% end %>
                      <!-- End of This Shop's Phones -->
                    </div>
                  </div>
                </div>
                <!-- Pagination Links -->
                <div class="mt-4 d-flex justify-content-center">
                  <%= paginate @shop_products %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-4 col-12">
            <!-- card  -->
            <div class="card mb-4 bg-primary border-primary">
              <a href="#"  class="card-img-top"> <img src="/assets/category-index.jpg" size="411x222" class="card-img-top rounded-top-md"
                    alt="Article Image"></a>
              <!-- card body  -->
              <div class="card-body">

                <h4 class="card-title text-white">Launch Date </h4>

                <!-- dropdown  -->
                <div class="d-flex justify-content-between align-items-center mt-8">
                  <div>
                    <h1 class="display-4 text-white mb-1"> <%= (Date.current - @shopkeeper_shop.created_at.to_date).to_i %> Days</h1>
                    <p class="mb-0 text-white"><%= Date.today.strftime("%d %B, %A") %></p>
                  </div>
                  <div>
                    <i class="fe fe-flag fs-1 text-light-primary"></i>
                  </div>
                </div>

              </div>

            </div>
            <!-- card  -->
            <div class="card mb-4 ">
              <!-- card body  -->
              <div class="card-body">

                <h4 class=" card-title ">Overall User Satisfaction Rate </h4>

                <div id="progressChart" data-rating="<%= @shopkeeper_shop.average_rating.to_f %>"></div>

              </div>
            </div>
            <div class="card">
              <div class="card-header card-header-height d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="mb-0">Recent Activity</h4>
                </div>
                <div><a href="#">View All</a></div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush list-timeline-activity">
                  <% @recent_activities.each do |activity| %>
                    <li class="list-group-item px-0 pt-0 border-0 pb-6">
                      <div class="row position-relative">
                        <div class="col-auto">
                          <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                            <i class="fe fe-<%= activity.action_icon %>"></i>
                          </div>
                        </div>
                        <div class="col ms-n3">
                          <h4 class="mb-0 h5"><%= activity.action %></h4>
                          <p class="mb-0 text-body"><%= activity.details %></p>
                        </div>
                        <div class="col-auto">
                          <span class="text-muted fs-6"><%= time_ago_in_words(activity.created_at) %> ago</span>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
                <!-- Pagination controls -->
                <div class="d-flex justify-content-center">
                  <%= paginate @recent_activities, param_name: :activity_page %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
