<body class="bg-white">
  <!-- Page content -->
  <main>
    <!-- Content -->
    <section class="py-7 py-lg-8 pb-14">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">
            <div class="text-center mb-4">
              <a href="<%= article_categories_path %>" class="fs-5 fw-semibold d-block mb-4 text-primary"><%= @article.article_category.name %></a>
              <h1 class="display-3 fw-bold mb-4"><%= @article.title %></h1>
              <span class="mb-3 d-inline-block"><%= @article.created_at.to_s(:long) %></span>
            </div>
            <!-- Media -->
            <div class="d-flex justify-content-between align-items-center mb-5">
              <div class="d-flex align-items-center">
                <img src="/assets/mobilo1.png" alt="avatar" class="rounded-circle avatar-md">
                <div class="ms-2 lh-1">
                  <h5 class="mb-1 ">MyMobilo</h5>
                  <span class="text-primary">Your Gateway to Mobile Innovation</span>
                </div>
              </div>
              <div>
                <span class="ms-2 text-muted">Share</span>
                <a href="#" class="ms-2 text-muted"><i class="mdi mdi-facebook fs-4"></i></a>
                <a href="#" class="ms-2 text-muted"><i class="mdi mdi-twitter fs-4"></i></a>
                <a href="#" class="ms-2 text-muted "><i class="mdi mdi-linkedin fs-4"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <!-- Image -->
          <div class="col-xl-10 col-lg-10 col-md-12 col-12 mb-6">
            <% if @article.images.attached? %>
              <% first_image = @article.images.first %>
              <a href="<%= articles_path %>"  class="card-img-top"><%= image_tag url_for(first_image), alt: "Article Image", class:"card-img-top rounded-top-md" %></a>
            <% else %>
              <a href="<%= articles_path %>"  class="card-img-top"> <img src="/assets/Article-show.jpg" class="card-img-top rounded-top-md"
                alt="blogpost"></a>
            <% end %>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">
            <!-- Descriptions -->
            <div>
              <div class="mb-4">
                <p class="lead text-dark">
                  <%= @article.title %>
                </p>
                <p>
                  <%= @article.content.html_safe %>
                </p>
              </div>
              <%= link_to 'Back to Articles', articles_path, class: 'btn btn-secondary' %>
            </div>

            <!-- Media -->
            <hr class="mt-8 mb-5">
            <div class="d-flex justify-content-between align-items-center mb-5">
              <div class="d-flex align-items-center">
                <img src="/assets/mobilo1.png" alt="avatar" class="rounded-circle avatar-md">
                <div class="ms-2 lh-1">
                  <h5 class="mb-1 ">MyMobilo</h5>
                  <span class="text-primary">Your Gateway to Mobile Innovation</span>
                </div>
              </div>
              <div>
                <span class="ms-2 text-muted">Share</span>
                <a href="#" class="ms-2 text-muted"><i class="mdi mdi-facebook fs-4"></i></a>
                <a href="#" class="ms-2 text-muted"><i class="mdi mdi-twitter fs-4"></i></a>
                <a href="#" class="ms-2 text-muted "><i class="mdi mdi-linkedin fs-4"></i></a>
              </div>
            </div>
            <!-- Subscribe to Newsletter -->
            <div class="py-lg-12 py-6">
              <div class="text-center mb-6">
                <h2 class="display-4 fw-bold">Sign up for our Newsletter</h2>
                <p class="mb-0 lead">Join our newsletter and get resources, curated content, and design inspiration
                  delivered straight to your inbox.</p>
              </div>
              <!-- Form -->
              <form class="row px-md-20">
                <div class="mb-3 col ps-0 ms-2 ms-md-0">
                  <input type="email" class="form-control" placeholder="Email Address" required>
                </div>
                <div class="mb-3 col-auto ps-0">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="my-5">
              <h2>Related Post</h2>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <!-- Card -->
            <div class="card mb-4 shadow-lg ">
              <a href="#" class="card-img-top"> <img src="/assets/category-article-img.jpg"
                  class="card-img-top rounded-top-md" alt="blogpost"></a>
              <!-- Card body -->
              <div class="card-body">
                <a href="#" class="fs-5 fw-semibold d-block mb-3 text-primary">Workshop</a>
                <a href="blog-single.html">
                  <h3>The Best DevOps Tools for Your Application Lifecycle</h3>
                </a>
                <p>Inventore pariatur veritatis maxime fugiat sint dolorem officiis nemo quis!
                </p>
                <!-- Media content -->
                <div class="row align-items-center g-0 mt-4">
                  <div class="col-auto">
                    <img src="/assets/mobilo1.png" alt="avatar" class="rounded-circle avatar-sm me-2">
                  </div>
                  <div class="col lh-1">
                    <h5 class="mb-1">Dustin Warren</h5>
                    <p class="fs-6 mb-0">September 09, 2020</p>
                  </div>
                  <div class="col-auto">
                    <p class="fs-6 mb-0">12 Min Read</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
