<main>
  <section class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <a href="../index.html"><img src="/assets/logo-icon.svg" class="mb-4" alt="logo-icon" /></a>
              <h1 class="mb-1 fw-bold">Forgot Password</h1>
              <p>Fill the form to reset your password.</p>
            </div>
              <!-- Form -->
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
                <!-- Email -->
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <%= f.email_field :email, class:"form-control", placeholder:"Enter Your Email", required: true %>
              </div>
                <!-- Button -->
              <div class="mb-3 d-grid">
                <%= f.submit "Send Reset Link", class:"btn btn-primary" %>
              </div>
              <span>Return to <a href="<%= new_user_session_path %>">sign in</a></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
