<div class="container mt-4">
  <h1 class="mb-3"><%= @shopkeeper_profile.shop_name %></h1>

  <div class="row">
    <div class="col-md-4">
      <img src="<%= @shopkeeper_profile.shop_images.present? ? @shopkeeper_profile.shop_images.first : 'default-shop-image.jpg' %>" class="img-fluid rounded" alt="<%= @shopkeeper_profile.shop_name %>">
    </div>
    <div class="col-md-8">
      <p><strong>Description:</strong> <%= @shopkeeper_profile.description %></p>
      <p><strong>Address:</strong> <%= @shopkeeper_profile.address %></p>
      <p><strong>Contact Info:</strong> <%= @shopkeeper_profile.contact_info %></p>
      <p><strong>Operating Hours:</strong> <%= @shopkeeper_profile.operating_hours %></p>
      <p><strong>Location:</strong> <%= @shopkeeper_profile.location %></p>

      <% if current_user.shopkeeper? && can?(:update, @shopkeeper_profile) %>
        <%= link_to 'Edit Profile', edit_shopkeeper_profile_path(@shopkeeper_profile), class: 'btn btn-warning me-2' %>
        <%= button_to 'Delete Profile', shopkeeper_profile_path(@shopkeeper_profile), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>

      <%= link_to 'Back to Profiles', shopkeeper_profiles_path, class: 'btn btn-secondary mt-3' %>
    </div>
  </div>
</div>
