<div class="container pb-5 mb-2">
    <div class="comparison-table">
        <table class="table table-bordered">
            <thead class="bg-secondary">
                <tr>
                    <td class="align-middle">
                        <select class="form-control custom-select" id="compare-criteria" data-filter="trigger">
                            <option value="all">Comparison criteria *</option>
                            <option value="summary">Summary</option>
                            <option value="performance">Performance</option>
                            <option value="display">Display</option>
                            <option value="storage">Storage</option>
                            <option value="camera">Camera</option>
                            <option value="battery">Battery</option>
                            <option value="connectivity">Connectivity</option>
                            <option value="design">Design</option>
                            <option value="price">Price &amp; Rating</option>
                        </select>
                        <small class="form-text text-muted">* Choose criteria to filter table below.</small>
                        <div class="pt-3">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="differences">
                                <label class="text-dark custom-control-label" for="differences">Show differences only</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="item">
                          <!-- Card -->
                          <div class="card  mb-4 card-hover">
                            <% if @product1.main_image.attached? %>
                            <% first_image = @product1.main_image %>
                              <center>
                                <a href="<%= product_path(@product1) %>" ><%= image_tag url_for(product.main_image), class:"card-img-top inner-img", style: "max-width:50%;" %>
                                </a>
                              </center>
                            <% else %>
                              <center>
                                <a href="<%= product_path(@product1) %>">
                                  <img src="/assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:50%;">
                                </a>
                              </center>
                            <% end %>
                            <!-- Card Body -->
                            <div class="landing-card-body card-body">
                              <h4 class="mb-2 text-truncate">
                                <a href="<%= product_path(@product1) %>" class="text-inherit card-img-top inner-img" data-toggle="tooltip" title="<%= @product1.name %>"><%= @product1.name %></a>
                              </h4>
                            </div>
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="item">
                          <!-- Card -->
                          <div class="card  mb-4 card-hover">
                            <% if @product2.main_image.attached? %>
                            <% first_image = @product2.main_image %>
                              <center>
                                <a href="<%= product_path(@product2) %>" ><%= image_tag url_for(product.main_image), class:"card-img-top inner-img", style: "max-width:50%;" %>
                                </a>
                              </center>
                            <% else %>
                              <center>
                                <a href="<%= product_path(@product2) %>">
                                  <img src="/assets/official.png" alt="course" class="card-img-top inner-img" style="max-width:50%;">
                                </a>
                              </center>
                            <% end %>
                            <!-- Card Body -->
                            <div class="landing-card-body card-body">
                              <h4 class="mb-2 text-truncate">
                                <a href="<%= product_path(@product2) %>" class="text-inherit card-img-top inner-img" data-toggle="tooltip" title="<%= @product2.name %>"><%= @product2.name %></a>
                              </h4>
                            </div>
                          </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <!-- Summary -->
            <tbody id="summary" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-dark text-uppercase">Summary</th>
                    <td><span class="text-dark font-weight-semibold"><%= @product1.description %></span></td>
                    <td><span class="text-dark font-weight-semibold"><%= @product2.description %></span></td>
                </tr>
            </tbody>
            <!-- Performance -->
            <tbody id="performance" data-filter="target">
                <tr>
                    <th class="text-dark text-uppercase">Performance</th>
                    <td><span class="text-dark font-weight-semibold">Apple A12 Bionic</span></td>
                    <td><span class="text-dark font-weight-semibold">Qualcomm Snapdragon 845</span></td>
                </tr>
                <tr class="bg-secondary">
                    <th class="text-dark text-uppercase">RAM</th>
                    <td class="text-dark">4 GB</td>
                    <td class="text-dark">4 GB</td>
                </tr>
                <tr>
                    <th class="text-dark text-uppercase">Graphics</th>
                    <td class="text-dark">Apple GPU (4-core graphics)</td>
                    <td class="text-dark">Adreno 630</td>
                </tr>
            </tbody>
            <!-- Display -->
            <tbody id="display" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-dark text-uppercase">Display</th>
                    <td class="text-dark">6.5-inch Super Retina OLED</td>
                    <td class="text-dark">6.3-inch 'flexible' OLED</td>
                </tr>
                <tr>
                    <th class="text-dark text-uppercase">Resolution</th>
                    <td class="text-dark">1125 x 2436 pixels</td>
                    <td class="text-dark">1440 x 2880 pixels</td>
                </tr>
            </tbody>
            <!-- Storage -->
            <tbody id="storage" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-dark text-uppercase">Storage</th>
                    <td class="text-dark">64 GB</td>
                    <td class="text-dark">64 GB</td>
                </tr>
                <tr>
                    <th class="text-dark text-uppercase">Expandable</th>
                    <td class="text-dark">No</td>
                    <td class="text-dark">No</td>
                </tr>
            </tbody>
            <!-- Camera -->
            <tbody id="camera" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-dark text-uppercase">Camera</th>
                    <td class="text-dark">Dual 12-megapixel</td>
                    <td class="text-dark">12.2-megapixel</td>
                </tr>
                <tr>
                    <th class="text-dark text-uppercase">Features</th>
                    <td class="text-dark">10x Digital zoom, Optical zoom</td>
                    <td class="text-dark">Fixed focus</td>
                </tr>
            </tbody>
            <!-- Battery -->
            <tbody id="battery" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-dark text-uppercase">Battery</th>
                    <td class="text-dark">3,174 mAh, Fast Charging</td>
                    <td class="text-dark">3,430 mAh, Fast Charging</td>
                </tr>
            </tbody>
            <!-- Connectivity -->
            <tbody id="connectivity" data-filter="target">
                <tr>
                    <th class="text-dark text-uppercase">Connectivity</th>
                    <td class="text-dark">4G, 3G, 2G</td>
                    <td class="text-dark">4G, 3G, 2G</td>
                </tr>
                <tr class="bg-secondary">
                    <th class="text-dark text-uppercase">Bluetooth</th>
                    <td class="text-dark">Yes</td>
                    <td class="text-dark">Yes</td>
                </tr>
            </tbody>
            <!-- Design -->
            <tbody id="design" data-filter="target">
                <tr>
                    <th class="text-dark text-uppercase">Design</th>
                    <td class="text-dark">Aluminum, Glass back</td>
                    <td class="text-dark">Aluminum</td>
                </tr>
                <tr class="bg-secondary">
                    <th class="text-dark text-uppercase">Weight</th>
                    <td class="text-dark">174 grams</td>
                    <td class="text-dark">175 grams</td>
                </tr>
            </tbody>
            <!-- Price -->
            <tbody id="price" data-filter="target">
                <tr>
                    <th class="text-dark text-uppercase">Price & Rating</th>
                    <td class="text-dark">$<%= @product1&.price %>, Rating: 4.5/5</td>
                    <td class="text-dark">$<%= @product2&.price %>, Rating: 4.5/5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function(){
        $('[data-filter="trigger"]').on("change", function() {
            var t = $(this).find("option:selected").val().toLowerCase();
            $('[data-filter="target"]').css("display", "none");
            $("#" + t).css("display", "table-row-group");
            if(t == "all") {
                $('[data-filter="target"]').css("display", "table-row-group");
            }
            $(this).css("display", "block");
        });
    });
</script>