<div class="container pb-5 mb-2">
    <div class="comparison-table">
        <table class="table table-bordered">
            <thead class="bg-secondary">
                <tr>
                    <td class="align-middle">
                        <select class="form-control custom-select" id="compare-criteria" data-filter="trigger">
                            <option value="all">Comparison criteria *</option>
                            <option value="summary">Summary</option>
                            <option value="performance">Performance</option>
                            <option value="display">Display</option>
                            <option value="storage">Storage</option>
                            <option value="camera">Camera</option>
                            <option value="battery">Battery</option>
                            <option value="connectivity">Connectivity</option>
                            <option value="design">Design</option>
                            <option value="price">Price &amp; Rating</option>
                        </select>
                        <small class="form-text text-muted">* Choose criteria to filter table below.</small>
                        <div class="pt-3">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="differences">
                                <label class="custom-control-label" for="differences">Show differences only</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="comparison-item">
                            <a class="comparison-item-thumb" href="shop-single.html"><img src="https://www.bootdey.com/image/160x160/FF0000/000000" alt="Apple iPhone Xs Max"></a>
                            <a class="comparison-item-title" href="shop-single.html"><%= @product1&.name %></a>
                        </div>
                    </td>
                    <td>
                        <div class="comparison-item">
                            <a class="comparison-item-thumb" href="shop-single.html"><img src="https://www.bootdey.com/image/160x160/1E90FF/000000" alt="Google Pixel 3 XL"></a>
                            <a class="comparison-item-title" href="shop-single.html"><%= @product2&.name %></a>
                        </div>
                    </td>
                </tr>
            </thead>
            <!-- Summary -->
            <tbody id="summary" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Summary</th>
                    <td><span class="text-dark font-weight-semibold"><%= @product1.description %></span></td>
                    <td><span class="text-dark font-weight-semibold"><%= @product2.description %></span></td>
                </tr>
            </tbody>
            <!-- Performance -->
            <tbody id="performance" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Performance</th>
                    <td><span class="text-dark font-weight-semibold">Apple A12 Bionic</span></td>
                    <td><span class="text-dark font-weight-semibold">Qualcomm Snapdragon 845</span></td>
                </tr>
                <tr>
                    <th>RAM</th>
                    <td>4 GB</td>
                    <td>4 GB</td>
                </tr>
                <tr>
                    <th>Graphics</th>
                    <td>Apple GPU (4-core graphics)</td>
                    <td>Adreno 630</td>
                </tr>
            </tbody>
            <!-- Display -->
            <tbody id="display" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Display</th>
                    <td>6.5-inch Super Retina OLED</td>
                    <td>6.3-inch 'flexible' OLED</td>
                </tr>
                <tr>
                    <th>Resolution</th>
                    <td>1125 x 2436 pixels</td>
                    <td>1440 x 2880 pixels</td>
                </tr>
            </tbody>
            <!-- Storage -->
            <tbody id="storage" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Storage</th>
                    <td>64 GB</td>
                    <td>64 GB</td>
                </tr>
                <tr>
                    <th>Expandable</th>
                    <td>No</td>
                    <td>No</td>
                </tr>
            </tbody>
            <!-- Camera -->
            <tbody id="camera" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Camera</th>
                    <td>Dual 12-megapixel</td>
                    <td>12.2-megapixel</td>
                </tr>
                <tr>
                    <th>Features</th>
                    <td>10x Digital zoom, Optical zoom</td>
                    <td>Fixed focus</td>
                </tr>
            </tbody>
            <!-- Battery -->
            <tbody id="battery" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Battery</th>
                    <td>3,174 mAh, Fast Charging</td>
                    <td>3,430 mAh, Fast Charging</td>
                </tr>
            </tbody>
            <!-- Connectivity -->
            <tbody id="connectivity" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Connectivity</th>
                    <td>4G, 3G, 2G</td>
                    <td>4G, 3G, 2G</td>
                </tr>
                <tr>
                    <th>Bluetooth</th>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
            </tbody>
            <!-- Design -->
            <tbody id="design" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Design</th>
                    <td>Aluminum, Glass back</td>
                    <td>Aluminum</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>174 grams</td>
                    <td>175 grams</td>
                </tr>
            </tbody>
            <!-- Price -->
            <tbody id="price" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Price & Rating</th>
                    <td>$<%= @product1&.price %>, Rating: 4.5/5</td>
                    <td>$<%= @product2&.price %>, Rating: 4.5/5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function(){
        $('[data-filter="trigger"]').on("change", function() {
            var t = $(this).find("option:selected").val().toLowerCase();
            $('[data-filter="target"]').css("display", "none");
            $("#" + t).css("display", "table-row-group");
            if(t == "all") {
                $('[data-filter="target"]').css("display", "table-row-group");
            }
            $(this).css("display", "block");
        });
    });
</script>