<!-- Page content -->
<main>
  <section class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">

      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow ">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <a href="<%= root_path %>"><img src="/assets/logo-icon.svg" class="mb-4" alt="logo-icon"></a>
              <h1 class="mb-1 fw-bold">Sign in</h1>
              <span>Don’t have an account? <a href="<%= new_user_registration_path %>" class="ms-1">Sign up</a></span>
            </div>
            <!-- Form -->
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <!-- Username -->
                <div class="mb-3">
                  <label for="email" class="form-label">Username or email</label>
                  <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder: "Email address here", required: true %>
                  <!-- <input type="email" id="email" class="form-control" name="email" placeholder="Email address here"
                    required> -->
                </div>
                  <!-- Password -->
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder:"**************", required: true %>
                  <!-- <input type="password" id="password" class="form-control" name="password" placeholder="**************"
                    required> -->
                </div>
                  <!-- Checkbox -->
                <% if devise_mapping.rememberable? %>  
                  <div class="d-lg-flex justify-content-between align-items-center mb-4">
                    <div class="form-check">
                      <%= f.check_box :remember_me, class:"form-check-input", id:"rememberme" %>
                      <label class="form-check-label " for="rememberme">Remember me</label>
                    </div>
                    <div>
                      <a href="#"><%= render "devise/shared/links" %></a>
                    </div>
                  </div>
                <% end %>  
                <div>
                    <!-- Button -->
                  <div class="d-grid">
                    <%= f.submit "Sign in",  class: "btn btn-primary" %>
                  </div>
                </div>
                <hr class="my-4">
                <div class="mt-4 text-center">
                  <!--Facebook-->
                  <a href="#" class="btn-social btn-social-outline btn-facebook">
                    <i class="mdi mdi-facebook fs-4"></i>
                  </a>
                  <!--Twitter-->
                  <a href="#" class="btn-social btn-social-outline btn-twitter">
                    <i class="mdi mdi-twitter fs-4"></i>
                  </a>
                  <!--LinkedIn-->
                  <a href="#" class="btn-social btn-social-outline btn-linkedin">
                    <i class="mdi mdi-linkedin"></i>
                  </a>
                  <!--GitHub-->
                  <a href="#" class="btn-social btn-social-outline btn-github">
                    <i class="mdi mdi-github"></i>
                  </a>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
