<div class="card">
  <% if @products.any? %>
    <div class="card-header">
      <h4 class="mb-0">Discover Phones from Every <%= @total_product_count %> Shops</h4>
      <div class="d-flex flex-wrap mt-2">
        <!-- Tab Navigation -->
        <ul class="nav nav-pills" id="product-tabs" role="tablist">
          <!-- 'All' tab -->
          <li class="nav-item">
              <a class="nav-link active" id="all-tab" data-bs-toggle="pill" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
            </li>
          <!-- Dynamically generate category tabs -->
          <% @categories.each do |category| %>
            <% if category.products.joins(:shop_products).distinct.any? %>
              <li class="nav-item">
                <a class="nav-link" id="<%= category.name.downcase %>-tab" data-bs-toggle="pill" href="#<%= category.name.downcase %>" role="tab" aria-controls="<%= category.name.downcase %>" aria-selected="false">
                  <%= category.name %>
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="card-header">
      <h4 class="mb-0">No Phones Listed Across Shops!</h4>
    </div>
  <% end %>

  <div class="card-body">
    <div class="tab-content" id="product-tab-content">
      <!-- 'All' tab pane (active by default) -->
      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <div class="row">
          <%= render partial: "products/product_card", collection: @products, as: :product %>
        </div>
      </div>

      <!-- Dynamically generate tab panes for categories with products -->
      <% @categories.each do |category| %>
        <% if category.products.joins(:shop_products).distinct.any? %>
          <div class="tab-pane fade" id="<%= category.name.downcase %>" role="tabpanel" aria-labelledby="<%= category.name.downcase %>-tab">
            <div class="row">
              <% category.products.joins(:shop_products).distinct.each do |product| %>
                <%= render partial: "products/product_card", locals: { product: product } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>