<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <div class="card card-hover">
    <% if product&.main_image.present? %>
      <a href="<%= product_path(product) %>">
        <%= image_tag url_for(product.main_image), class: "card-img-top", style: "object-fit: cover; width: 100%; height: auto;" %>
      </a>
    <% else %>
      <a href="<%= product_path(product) %>">
        <img src="/assets/official.png" alt="product image" class="card-img-top" style="object-fit: cover; width: 100%; height: auto;">
      </a>
    <% end %>
    <!-- Card Body -->
    <div class="card-body landing-card-body">
      <h4 class="mb-2 text-truncate text-truncate-line-2">
        <a href="<%= product_path(product) %>" class="text-inherit card-img-top inner-img">
          <div class="product-name">
            <span class="name-part name-part-1"><%= product.name.split(' ').first %></span>
            <span class="name-part name-part-2"><%= product.name.split(' ')[1..-1].join(' ') %></span>
          </div>
        </a>
      </h4>
      <div class="lh-1">
        <span class="text-dark fw-bold">RS <%= product.price %></span>
        <% if product.actual_price.present? %>
          <del class="fs-6 text-muted">RS <%= product.actual_price %></del>
        <% end %>
      </div>
      <div class="text-muted mt-2">
        <small>Available at:
          <% product.shopkeeper_shops.each_with_index do |shop, index| %>
            <%= link_to shop.shop_name, user_shops_shopkeeper_shop_path(shop) %><%= ', ' unless index == product.shopkeeper_shops.size - 1 %>
          <% end %>
        </small>
      </div>
    </div>
  </div>
</div>
