<main>
  <!-- Page header -->
  <section class="pt-lg-8 pb-lg-16 pt-7 pb-12 bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12">
          <div>
            <center>
              <% if @product.images.attached? %>
                  <% first_image = @product.images.first %>
                  <section class="">
                  <%= image_tag url_for(first_image), alt: "Article Image", class:"card-img-top mb-3", style: "max-width:50%;" %>
                </section>
                <% else %>
                  <section class="pt-lg-8 pb-lg-16 pt-7 pb-12 show-page-image"> <img src="/assets/no_image.jpeg" class="card-img-top rounded-top-md"
                    alt="blogpost"></section>
                <% end %>
            </center>
            <h1 class="text-white fw-semibold display-6 display-md-4 display-lg-2">
              <%= @product&.name %>
            </h1>

            <% product_attributes = {
              'fa-camera' => @product.camera_prod,
              'fa-microchip' => @product.processor_prod,
              'fa-hdd' => @product.storage_prod,
              'fa-battery-full' => @product.battery_prod,
              'fa-memory' => @product.ram_prod,
              'fa-mobile-alt' => @product.display_prod # Mobile screen icon
            } %>

            <% if product_attributes.values.any?(&:present?) %>
              <div class="d-flex align-items-center flex-wrap">
                <% product_attributes.each do |icon, value| %>
                  <% if value.present? %>
                    <span class="text-white ms-3 mb-2 d-flex align-items-center fs-6 fs-md-4 fs-lg-3">
                      <i class="fas <%= icon %> me-2"></i>
                      <strong><%= value %></strong>
                    </span>
                  <% end %>
                <% end %>
              </div><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page content -->
  <section class="pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-12 mt-n8 mb-4 mb-lg-0">
          <!-- Card -->
          <div class="card rounded-3">
            <!-- Card header -->
            <div class="card-header border-bottom-0 p-0">
              <div>
                <!-- Nav -->
                <ul class="nav nav-lb-tab" id="tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="description-tab" data-bs-toggle="pill"
                    href="#description" role="tab" aria-controls="description"
                    aria-selected="true">Specification
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="table-tab" data-bs-toggle="pill"
                      href="#table" role="tab" aria-controls="table"
                      aria-selected="false">Introduction
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="picture-tab" data-bs-toggle="pill"
                      href="#picture" role="tab" aria-controls="transcript"
                      aria-selected="false">Images
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="review-tab" data-bs-toggle="pill" href="#review"
                      role="tab" aria-controls="review" aria-selected="false">Reviews
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="faq-tab" data-bs-toggle="pill" href="#faq"
                      role="tab" aria-controls="faq" aria-selected="false">FAQ
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="tab-content" id="tabContent">
                <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
                  <!-- Card -->
                  <div class="accordion" id="courseAccordion">
                    <div>
                      <!-- List group -->
                      <ul class="list-group list-group-flush">
                        <!-- List group item -->
                        <li class="list-group-item px-0 pb-0">
                          <!-- Toggle -->
                          <a class="h4 mb-0 d-flex align-items-center text-inherit text-decoration-none"
                            data-bs-toggle="collapse" href="#courseEleven" aria-expanded="false" aria-controls="courseEleven">
                            <div class="me-auto">
                              <!-- Title -->
                              <%= @product.name %> Details
                            </div>
                            <!-- Chevron -->
                            <span class="chevron-arrow ms-4">
                              <i class="fe fe-chevron-down fs-4"></i>
                            </span>
                          </a>
                          <!-- Row -->
                          <!-- Collapse -->
                          <div class="collapse" id="courseEleven" data-bs-parent="#courseAccordion">
                            <div class="pt-3 pb-2">
                              <p>
                                <%= @product&.description.html_safe %>
                              </p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                  aria-labelledby="description-tab">
                  <!-- Description -->
                  <div class="mb-4">
                    <h3 class="mb-2"><%= @product.name %></h3>
                    <div class="table-responsive table-borderless">
                      <table class="table mb-1 table-width">
                        <thead>
                          <tr>
                            Specifications
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-secondary">Price in Pakistan</td>
                            <td class="align-top text-secondary">Rs. <%= @product.price %>/-</td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- Build Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/build.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">BUILD</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                            <% @product.specifications.each do |specification| %>
                              <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                              <% parsed_attributes["build_type"]&.each do |key, value| %>
                                <tr>
                                  <td class="text-secondary"><%= key.to_s.titleize %></td>
                                  <td class="align-top text-secondary"><%= value %></td>
                                </tr>
                              <% end %>
                            <% end %>
                        </tbody>
                      </table>

                      <!-- Frequency Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/network.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">FREQUENCY</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["frequency"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %><br>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Processor Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/platform.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">PROCESSOR</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["processor"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Display Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/dis.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">DISPLAY</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["display"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Memory Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/memory.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">MEMORY</button>
                      </div>

                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["memory"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Camera Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/camera.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">CAMERA</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["camera"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Video Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/video.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">VIDEO</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["video"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Connectivity Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/comms.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">CONNECTIVITY</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["connectivity"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/features.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">FEATURES</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["features"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/battery.svg" alt="network" class="rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">BATTERY</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["battery"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                  <!-- Reviews -->
                  <div class="mb-3">
                    <h3 class="mb-4">How users rated this phone</h3>
                    <div class="row align-items-center">
                      <div class="col-auto text-center">
                        <h3 class="display-2 fw-bold">4.5</h3>
                        <i class="mdi mdi-star me-n1 text-warning"></i>
                        <i class="mdi mdi-star me-n1 text-warning"></i>
                        <i class="mdi mdi-star me-n1 text-warning"></i>
                        <i class="mdi mdi-star me-n1 text-warning"></i>
                        <i class="mdi mdi-star me-n1-half text-warning"></i>
                        <p class="mb-0 fs-6">(Based on 27 reviews)</p>
                      </div>
                      <!-- Progress bar -->
                      <div class="col pt-3 order-3 order-md-2">
                        <div class="progress mb-3" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress mb-3" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress mb-3" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress mb-3" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress mb-0" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-auto col-6 order-2 order-md-3">
                        <!-- Rating -->
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <span class="ms-1">53%</span>
                        </div>
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <span class="ms-1">36%</span>
                        </div>
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <span class="ms-1">9%</span>
                        </div>
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <span class="ms-1">3%</span>
                        </div>
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <span class="ms-1">2%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- hr -->
                  <hr class="my-5">
                  <div class="mb-3">
                    <div class="d-md-flex align-items-center align-items-center justify-content-between
                      mb-5">
                      <!-- Reviews -->
                      <div class="mb-3 mb-lg-0">
                        <h3 class="mb-0">Reviews</h3>
                      </div>
                      <div>
                        <!-- Form -->
                        <form class="form-inline">
                          <div class="d-flex align-items-center">
                            <span class="position-absolute ps-3">
                              <i class="fe fe-search"></i>
                            </span>
                            <input type="search" class="form-control ps-6"
                                placeholder="Search Review">
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- Rating -->
                    <%= render "comments/form", product: @product %>
                    <%= render 'comments/index' %>
                  </div>
                </div>
                <div class="tab-pane fade" id="picture" role="tabpanel" aria-labelledby="picture-tab">
                  <% if @product.images.present? %>
                    <% @product.images.each do |image| %>
                      <center>
                        <%= image_tag url_for(image), class:"card-img-top mb-3", style: "max-width:50%;"%>
                          <br>
                      </center>
                    <% end  %>
                  <% else %>
                    <h1 class="text-center mt-6">This Phone does not have any Image.</h1>
                  <% end %>
                </div>
                <!-- Tab pane -->
                <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                  <!-- FAQ -->
                  <div>
                    <h3 class="mb-3">Samsung Mobile Phones - Frequently Asked Questions</h3>

                    <div class="mb-4">
                      <h4>What are the key features of the latest Samsung Galaxy models?</h4>
                      <p>
                        The latest Samsung Galaxy models offer a variety of high-end features, including
                        advanced camera systems with multiple lenses, high-resolution displays with
                        adaptive refresh rates, powerful processors, and large battery capacities.
                        Additionally, they come equipped with 5G capabilities, fast charging, and
                        Samsung's One UI for a smooth user experience.
                      </p>
                    </div>

                    <div class="mb-4">
                      <h4>How does the battery life of Samsung Galaxy phones compare?</h4>
                      <p>
                        Samsung Galaxy phones are known for their impressive battery life, thanks to
                        their high-capacity batteries and energy-efficient hardware. With typical use,
                        most Galaxy models can easily last a full day, and some of the larger models
                        can even stretch into two days on a single charge. Fast charging and wireless
                        charging features add convenience to keeping your device powered up.
                      </p>
                    </div>

                    <div class="mb-4">
                      <h4>What makes Samsung's camera technology stand out?</h4>
                      <p>
                        Samsung’s camera technology is renowned for its versatility and quality.
                        Galaxy phones feature multi-lens setups, including ultra-wide, wide-angle,
                        telephoto, and sometimes macro lenses, allowing users to capture a wide
                        range of photo types with excellent clarity and detail. Samsung also
                        includes features like Super Steady video, Night Mode, and advanced AI
                        scene detection to enhance your photography and videography experience.
                      </p>
                    </div>

                    <div class="mb-4">
                      <h4>Is Samsung's software interface user-friendly?</h4>
                      <p>
                        Samsung’s One UI is designed to be user-friendly, providing a clean and
                        intuitive interface with easy navigation. It offers customization options,
                        a dark mode, and a seamless integration with Samsung's ecosystem of devices
                        and services, including Samsung DeX for a desktop-like experience.
                      </p>
                    </div>

                    <div class="mb-4">
                      <h4>What security features do Samsung Galaxy phones offer?</h4>
                      <p>
                        Samsung Galaxy phones are equipped with several security features to keep
                        your data safe. These include an ultrasonic fingerprint sensor, facial
                        recognition, and Samsung Knox, a multi-layered security platform that
                        protects your device from the hardware to the software level. Additionally,
                        Samsung provides regular security updates to protect against new threats.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12 mt-lg-n22">
          <!-- Card -->
          <div class="card mb-3 mb-4">
            <div class="p-1">
                <div class="d-flex justify-content-center position-relative rounded py-10 border-white border rounded-3 bg-cover"
                    style="background-image: url(/assets/course-javascript.jpg);">
                    <a class="popup-youtube icon-shape rounded-circle btn-play icon-xl text-decoration-none"
                        href="https://www.youtube.com/watch?v=JRzWRZahOVU">
                        <i class="fe fe-play"></i>
                    </a>
                </div>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- Price single page -->
                <div class="mb-3">
                    <span class="text-dark fw-bold h2">$600</span>
                    <del class="fs-4 text-muted">$750</del>
                </div>
                <div class="d-grid">
                    <a href="#" class="btn btn-primary mb-2">Start Free Month</a>
                    <a href="pricing.html" class="btn btn-outline-primary mb-2">Get Full Access</a>
                    <%= link_to "Compare Products", compare_products_index_path(product_id: @product.id), class: "btn btn-primary" %>
                </div>
            </div>
          </div>
          <!-- Card -->
          <div class="card mb-4">
              <div>
                  <!-- Card header -->
                  <div class="card-header">
                      <h4 class="mb-0">What’s included</h4>
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item bg-transparent">
                          <i class="fe fe-play-circle align-middle me-2 text-primary"></i>12 hours video
                      </li>
                      <li class="list-group-item bg-transparent">
                          <i class="fe fe-award me-2 align-middle text-success"></i>Certificate
                      </li>
                      <li class="list-group-item bg-transparent">
                          <i class="fe fe-calendar align-middle me-2 text-info"></i>12
                          Article
                      </li>
                      <li class="list-group-item bg-transparent">
                          <i class="fe fe-video align-middle me-2 text-secondary"></i>Watch Offline
                      </li>
                      <li class="list-group-item bg-transparent border-bottom-0">
                          <i class="fe fe-clock align-middle me-2 text-warning"></i>Lifetime access
                      </li>
                  </ul>
              </div>
          </div>
          <!-- Card -->
          <div class="card">
              <!-- Card body -->
              <div class="card-body">
                  <div class="d-flex align-items-center">
                      <div class="position-relative">
                          <% if @category&.picture.present? %>
                            <%= image_tag rails_blob_path(@category&.picture, disposition: "attachment", only_path: true), class:"rounded-circle avatar-xl" %>
                          <% else %>
                            <img src="/assets/samsung-logo.png" alt="avatar"
                                class="rounded-circle avatar-xl">
                            <a href="#" class="position-absolute mt-2 ms-n3" data-bs-toggle="tooltip"
                                data-placement="top" title="Verifed">
                                <img src="/assets/checked-mark.svg" alt="checked-mark"height="30" width="30">
                            </a>
                          <% end %>
                      </div>
                      <div class="ms-4">
                          <h4 class="mb-0"><%= @product.category.name %></h4>
                          <p class="mb-1 fs-6"><%= @product.series %></p>
                          <span class="fs-6"><span class="text-warning">4.5</span><span
                                  class="mdi mdi-star text-warning me-2"></span>Rating</span>
                      </div>
                  </div>
                  <div class="border-top row mt-3 border-bottom mb-3 g-0">
                      <div class="col">
                          <div class="pe-1 ps-2 py-3">
                              <h5 class="mb-0"><%= @product.category.products.count %></h5>
                              <span>All Phones</span>
                          </div>
                      </div>
                      <div class="col border-start">
                          <div class="pe-1 ps-3 py-3">
                              <h5 class="mb-0"><%= @product.release_date %></h5>
                              <span>Release Date</span>
                          </div>
                      </div>
                      <div class="col border-start">
                          <div class="pe-1 ps-3 py-3">
                              <h5 class="mb-0">12,230</h5>
                              <span>Reviews</span>
                          </div>
                      </div>
                  </div>
                  <p>
                      I am an Innovation designer focussing on UX/UI based in
                      Berlin. As a creative resident at Figma explored the city of
                      the future and how new technologies.
                  </p>
                  <a href="instructor-profile.html" class="btn btn-outline-secondary btn-sm">View
                      Details</a>
              </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="pt-12 pb-3">
          <div class="row d-md-flex align-items-center mb-4">
              <div class="col-12">
                  <h2 class="mb-0">Related Phones</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-12">
                  <!-- Card -->
                  <div class="card mb-4 card-hover">
                      <a href="course-single.html" class="card-img-top"><img
                              src="/assets/course-react.jpg" alt="course"
                              class="card-img-top rounded-top-md"></a>
                      <!-- Card body -->
                      <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2">
                              <a href="course-single.html" class="text-inherit">How to easily create a website
                                  with React</a>
                          </h4>
                          <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                  <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                              </li>
                              <li class="list-inline-item">
                                  <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                                      fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                  </svg>
                                  Beginner
                              </li>
                          </ul>
                          <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(7,700)</span>
                          </div>
                      </div>
                      <!-- Card footer -->
                      <div class="card-footer">
                          <div class="row align-items-center g-0">
                              <div class="col-auto">
                                  <img src="/assets/avatar-1.jpg"
                                      class="rounded-circle avatar-xs" alt="avatar">
                              </div>
                              <div class="col ms-2">
                                  <span>Morris Mccoy</span>
                              </div>
                              <div class="col-auto">
                                  <a href="#" class="text-muted bookmark">
                                      <i class="fe fe-bookmark"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                  <!-- Card -->
                  <div class="card mb-4 card-hover">
                      <a href="course-single.html" class="card-img-top"><img
                              src="/assets/course-graphql.jpg" alt="course"
                              class="card-img-top rounded-top-md"></a>
                      <!-- Card body -->
                      <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2">
                              <a href="course-single.html" class="text-inherit">GraphQL: introduction to
                                  graphQL
                                  for beginners</a>
                          </h4>
                          <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                  <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>2h 46m
                              </li>
                              <li class="list-inline-item">
                                  <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                                      fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE" />
                                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE" />
                                  </svg>
                                  Advance
                              </li>
                          </ul>
                          <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(9,300)</span>
                          </div>
                      </div>
                      <!-- Card footer -->
                      <div class="card-footer">
                          <div class="row align-items-center g-0">
                              <div class="col-auto">
                                  <img src="/assets/avatar-2.jpg"
                                      class="rounded-circle avatar-xs" alt="avatar">
                              </div>
                              <div class="col ms-2">
                                  <span>Ted Hawkins</span>
                              </div>
                              <div class="col-auto">
                                  <a href="#" class="text-muted bookmark">
                                      <i class="fe fe-bookmark"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                  <!-- Card -->
                  <div class="card mb-4 card-hover">
                      <a href="course-single.html" class="card-img-top"><img
                              src="/assets/course-angular.jpg" alt="course"
                              class="card-img-top rounded-top-md"></a>
                      <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2">
                              <a href="course-single.html" class="text-inherit">Angular - the complete guide
                                  for
                                  beginner</a>
                          </h4>
                          <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                  <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>1h 30m
                              </li>
                              <li class="list-inline-item">
                                  <svg class="me-1 mt-n1" width="16" height="16" viewBox="0
                          0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9" />
                                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                  </svg>
                                  Beginner
                              </li>
                          </ul>
                          <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(8,890)</span>
                          </div>
                      </div>
                      <!-- Card footer -->
                      <div class="card-footer">
                          <div class="row align-items-center g-0">
                              <div class="col-auto">
                                  <img src="/assets/avatar-3.jpg"
                                      class="rounded-circle avatar-xs" alt="avatar">
                              </div>
                              <div class="col ms-2">
                                  <span>Juanita Bell</span>
                              </div>
                              <div class="col-auto">
                                  <a href="#" class="text-muted bookmark">
                                      <i class="fe fe-bookmark"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                  <div class="card mb-4 card-hover">
                      <a href="course-single.html" class="card-img-top"><img
                              src="/assets/course-python.jpg" alt="course"
                              class="card-img-top rounded-top-md"></a>
                      <div class="card-body">
                          <h4 class="mb-2 text-truncate-line-2">
                              <a href="course-single.html" class="text-inherit">The Python Course: build web
                                  application</a>
                          </h4>
                          <ul class="mb-3 list-inline">
                              <li class="list-inline-item">
                                  <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>2h 30m
                              </li>
                              <li class="list-inline-item">
                                  <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                                      fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE" />
                                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                                  </svg>
                                  Intermediate
                              </li>
                          </ul>
                          <div class="lh-1">
                              <span>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning me-n1"></i>
                                  <i class="mdi mdi-star text-warning"></i>
                              </span>
                              <span class="text-warning">4.5</span>
                              <span class="fs-6 text-muted">(13,245)</span>
                          </div>
                      </div>
                      <!-- Card footer -->
                      <div class="card-footer">
                          <div class="row align-items-center g-0">
                              <div class="col-auto">
                                  <img src="/assets/avatar-4.jpg"
                                      class="rounded-circle avatar-xs" alt="avatar">
                              </div>
                              <div class="col ms-2">
                                  <span>Claire Robertson</span>
                              </div>
                              <div class="col-auto">
                                  <a href="#" class="text-muted bookmark">
                                      <i class="fe fe-bookmark"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
</main>
