<main>
  <!-- Page header -->
  <section class="pt-lg-8 pb-lg-16 pt-7 pb-12 bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12">
          <center>
            <% if @product.main_image.attached? %>
              <% first_image = @product.main_image %>
              <section>
                <%= image_tag url_for(first_image), alt: "Product Image", class:"card-img-top mb-3", style: "max-width:50%;" %>
              </section>
            <% else %>
              <section>
                <img src="/assets/official.png" class="card-img-top mb-3" style="max-width:50%;" alt="Product Image">
              </section>
            <% end %>
          </center>

          <h1 class="text-white fw-semibold display-6 display-md-4 display-lg-2 mb-4"> <!-- Added mb-4 for space -->
            <%= @product&.name %>
          </h1>

          <% product_attributes = {
            'fa-mobile-alt' => @product.display_prod,
            'fa-microchip' => @product.processor_prod,
            'fa-hdd' => @product.storage_prod,
            'fa-camera' => @product.camera_prod,
            'fa-memory' => @product.ram_prod,
            'fa-battery-full' => @product.battery_prod
          } %>

          <% if product_attributes.values.any?(&:present?) %>
            <div class="row">
              <% product_attributes.each do |icon, value| %>
                <% if value.present? %>
                  <div class="col-12 col-sm-6 d-flex align-items-center mb-3"> <!-- col-12 on mobile, col-6 on larger screens -->
                    <i class="fas <%= icon %> fa-3x me-3 text-white"></i> <!-- Added me-3 for more space between icon and text -->
                    <strong class="text-white"><%= value %></strong>
                  </div>
                <% end %>
              <% end %>
            </div><br>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- Page content -->
  <section class="pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-12 mt-n8 mb-4 mb-lg-0">
          <!-- Card -->
          <div class="card rounded-3">
            <!-- Card header -->
            <div class="card-header border-bottom-0 p-0">
              <div>
                <!-- Nav -->
                <ul class="nav nav-lb-tab" id="tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="description-tab" data-bs-toggle="pill"
                    href="#description" role="tab" aria-controls="description"
                    aria-selected="true">Specification
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="table-tab" data-bs-toggle="pill"
                      href="#table" role="tab" aria-controls="table"
                      aria-selected="false">Introduction
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="picture-tab" data-bs-toggle="pill"
                      href="#picture" role="tab" aria-controls="transcript"
                      aria-selected="false">Images
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="review-tab" data-bs-toggle="pill" href="#review"
                      role="tab" aria-controls="review" aria-selected="false">Reviews
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="faq-tab" data-bs-toggle="pill" href="#faq"
                      role="tab" aria-controls="faq" aria-selected="false">FAQ
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="tab-content" id="tabContent">
                <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
                  <!-- Card -->
                  <div class="accordion" id="courseAccordion">
                    <div>
                      <!-- List group -->
                      <ul class="list-group list-group-flush">
                        <!-- List group item -->
                        <li class="list-group-item px-0 pb-0">
                          <!-- Toggle -->
                          <a class="h4 mb-0 d-flex align-items-center text-inherit text-decoration-none"
                            data-bs-toggle="collapse" href="#courseEleven" aria-expanded="false" aria-controls="courseEleven">
                            <div class="me-auto">
                              <!-- Title -->
                              <%= @product.name %> Details
                            </div>
                            <!-- Chevron -->
                            <span class="chevron-arrow ms-4">
                              <i class="fe fe-chevron-down fs-4"></i>
                            </span>
                          </a>
                          <!-- Row -->
                          <!-- Collapse -->
                          <div class="collapse" id="courseEleven" data-bs-parent="#courseAccordion">
                            <div class="pt-3 pb-2">
                              <p>
                                <%= @product&.description.html_safe %>
                              </p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                  aria-labelledby="description-tab">
                  <!-- Description -->
                  <div class="mb-4">
                    <h3 class="mb-2"><%= @product.name %> <%= @product.product_type.present? ? @product.product_type.humanize : '' %></h3>
                    <div class="table-responsive table-borderless">
                      <table class="table mb-1 table-width">
                        <thead>
                          <tr>
                            Specifications
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-secondary">Price in Pakistan</td>
                            <td class="align-top text-secondary">Rs. <%= @product.price %>/-</td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- Build Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/build1.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">BUILD</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                            <% @product.specifications.each do |specification| %>
                              <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                              <% parsed_attributes["build_type"]&.each do |key, value| %>
                                <tr>
                                  <td class="text-secondary"><%= key.to_s.titleize %></td>
                                  <td class="align-top text-secondary"><%= value %></td>
                                </tr>
                              <% end %>
                            <% end %>
                        </tbody>
                      </table>

                      <!-- Frequency Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/frequency.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">FREQUENCY</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["frequency"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %><br>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Processor Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/cpu.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">PROCESSOR</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["processor"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Display Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/display.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">DISPLAY</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["display"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Memory Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/memory.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">MEMORY</button>
                      </div>

                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["memory"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Camera Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/camera.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">CAMERA</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["camera"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Video Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/video.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">VIDEO</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["video"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <!-- Connectivity Spec Details -->
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/connectivity.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">CONNECTIVITY</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["connectivity"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/feature.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">FEATURES</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["features"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>

                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/battery.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">BATTERY</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["battery"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                      <div class="network-tab bg-primary" style="" id="pills-tab" role="tablist">
                        <img src="/assets/box.png" alt="network" class="spec-rounded-circle avatar-xl
                          network-icon" >
                        <button class="nav-link" id="pills-development-tab" data-bs-toggle="pill" href="#pills-development" role="tab" aria-controls="pills-development" aria-selected="true" style="color: white;">In the Box</button>
                      </div>
                      <table class="table mb-1 table-width">
                        <tbody>
                          <% @product.specifications&.each do |specification| %>
                            <% parsed_attributes = JSON.parse(specification.spec_attributes) rescue {} %>
                            <% parsed_attributes["box"]&.each do |key, value| %>
                              <tr>
                                <td class="text-secondary"><%= key.to_s %></td>
                                <td class="align-top text-secondary"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                  <!-- Reviews -->
                  <div class="mb-3">
                    <h3 class="mb-4">How users rated this phone</h3>
                    <div class="row align-items-center">
                      <div class="col-auto text-center">
                        <h3 class="display-2 fw-bold">4.5</h3>
                        <i class="mdi mdi-star me-n1 text-warning"></i>
                        <i class="mdi mdi-star me-n1 text-warning"></i>
                        <i class="mdi mdi-star me-n1 text-warning"></i>
                        <i class="mdi mdi-star me-n1 text-warning"></i>
                        <i class="mdi mdi-star me-n1-half text-warning"></i>
                        <p class="mb-0 fs-6">(Based on 27 reviews)</p>
                      </div>
                      <!-- Progress bar -->
                      <div class="col pt-3 order-3 order-md-2">
                        <div class="progress mb-3" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress mb-3" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress mb-3" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress mb-3" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress mb-0" style="height: 6px">
                          <div class="progress-bar bg-warning" role="progressbar"
                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-auto col-6 order-2 order-md-3">
                        <!-- Rating -->
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <span class="ms-1">53%</span>
                        </div>
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <span class="ms-1">36%</span>
                        </div>
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <span class="ms-1">9%</span>
                        </div>
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <span class="ms-1">3%</span>
                        </div>
                        <div>
                          <i class="mdi mdi-star me-n1 text-warning"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <i class="mdi mdi-star me-n1 text-light"></i>
                          <span class="ms-1">2%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- hr -->
                  <hr class="my-5">
                  <div class="mb-3">
                    <div class="d-md-flex align-items-center align-items-center justify-content-between
                      mb-5">
                      <!-- Reviews -->
                      <div class="mb-3 mb-lg-0">
                        <h3 class="mb-0">Reviews</h3>
                      </div>
                      <div>
                        <!-- Form -->
                        <form class="form-inline">
                          <div class="d-flex align-items-center">
                            <span class="position-absolute ps-3">
                              <i class="fe fe-search"></i>
                            </span>
                            <input type="search" class="form-control ps-6"
                                placeholder="Search Review">
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- Rating -->
                    <%= render "comments/form", product: @product %>
                    <%= render 'comments/index' %>
                  </div>
                </div>
                <div class="tab-pane fade" id="picture" role="tabpanel" aria-labelledby="picture-tab">
                  <% if @product.images.present? %>
                    <% @product.images.each do |image| %>
                      <center>
                        <%= image_tag url_for(image), class:"card-img-top mb-3", style: "max-width:50%;"%>
                          <br>
                      </center>
                    <% end  %>
                  <% else %>
                    <h1 class="text-center mt-6">This Phone does not have any Image.</h1>
                  <% end %>
                </div>
                <!-- Tab pane -->
                <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                  <!-- FAQ -->
                  <div>
                    <h3 class="mb-3">Samsung Mobile Phones - Frequently Asked Questions</h3>

                    <div class="mb-4">
                      <h4>What are the key features of the latest Samsung Galaxy models?</h4>
                      <p>
                        The latest Samsung Galaxy models offer a variety of high-end features, including
                        advanced camera systems with multiple lenses, high-resolution displays with
                        adaptive refresh rates, powerful processors, and large battery capacities.
                        Additionally, they come equipped with 5G capabilities, fast charging, and
                        Samsung's One UI for a smooth user experience.
                      </p>
                    </div>

                    <div class="mb-4">
                      <h4>How does the battery life of Samsung Galaxy phones compare?</h4>
                      <p>
                        Samsung Galaxy phones are known for their impressive battery life, thanks to
                        their high-capacity batteries and energy-efficient hardware. With typical use,
                        most Galaxy models can easily last a full day, and some of the larger models
                        can even stretch into two days on a single charge. Fast charging and wireless
                        charging features add convenience to keeping your device powered up.
                      </p>
                    </div>

                    <div class="mb-4">
                      <h4>What makes Samsung's camera technology stand out?</h4>
                      <p>
                        Samsung’s camera technology is renowned for its versatility and quality.
                        Galaxy phones feature multi-lens setups, including ultra-wide, wide-angle,
                        telephoto, and sometimes macro lenses, allowing users to capture a wide
                        range of photo types with excellent clarity and detail. Samsung also
                        includes features like Super Steady video, Night Mode, and advanced AI
                        scene detection to enhance your photography and videography experience.
                      </p>
                    </div>

                    <div class="mb-4">
                      <h4>Is Samsung's software interface user-friendly?</h4>
                      <p>
                        Samsung’s One UI is designed to be user-friendly, providing a clean and
                        intuitive interface with easy navigation. It offers customization options,
                        a dark mode, and a seamless integration with Samsung's ecosystem of devices
                        and services, including Samsung DeX for a desktop-like experience.
                      </p>
                    </div>

                    <div class="mb-4">
                      <h4>What security features do Samsung Galaxy phones offer?</h4>
                      <p>
                        Samsung Galaxy phones are equipped with several security features to keep
                        your data safe. These include an ultrasonic fingerprint sensor, facial
                        recognition, and Samsung Knox, a multi-layered security platform that
                        protects your device from the hardware to the software level. Additionally,
                        Samsung provides regular security updates to protect against new threats.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12 mt-lg-n22">
          <!-- Card -->
          <div class="card mb-3 mb-4">
            <div class="p-1">
              <div class="d-flex justify-content-center position-relative rounded py-10 border-white border rounded-3 bg-cover"
                style="background-image: url('<%= @product.main_image.attached? ? url_for(@product.main_image) : asset_path('official.png') %>');
                    background-size: 60% auto;
                    background-position: center;
                    background-repeat: no-repeat;">
                <a class="popup-youtube icon-shape rounded-circle btn-play icon-xl text-decoration-none"
                   href="https://www.youtube.com/watch?v=j8fAl_6I0E8">
                  <i class="fe fe-play"></i>
                </a>
              </div>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- Price single page -->
                <div class="mb-3">
                    <span class="text-dark fw-bold h2">Rs. <%= @product.price %></span>
                    <del class="fs-4 text-muted"><%= @product&.actual_price %></del>
                </div>
                <div class="d-grid">
                  <% if @product.favorited_by?(current_user) %>
                    <a href="#"
                      id="unfavorite-button-<%= @product.id %>"
                      data-remote="true"
                      data-method="delete"
                      data-url="<%= unfavorite_product_path(@product) %>"
                      class="btn btn-outline-danger mb-2"
                      data-product-id="<%= @product.id %>"
                      data-bs-toggle="tooltip"
                      title="Remove from favorites">
                      Remove from Favorite
                    </a>
                  <% else %>
                    <a href="#"
                      id="favorite-button-<%= @product.id %>"
                      data-remote="true"
                      data-method="post"
                      data-url="<%= favorite_product_path(@product) %>"
                      class="btn btn-outline-primary mb-2"
                      data-product-id="<%= @product.id %>"
                      data-bs-toggle="tooltip"
                      title="Add to favorites">
                      Add to Favorite
                    </a>
                  <% end %>
                  <%= link_to 'Where to Buy', where_to_buy_product_path(@product), class: 'btn btn-outline-primary mb-2' %>
                  <%= link_to "Compare Products", compare_products_index_path(product_id: @product.id), class: "btn btn-primary" %>
                </div>
            </div>
          </div>
          <!-- Card -->
          <div class="card mb-4">
            <div>
                <div class="card-header">
                    <h4 class="mb-0">Mymobilo’s Recommended Stores</h4>
                </div>
                <ul class="list-group list-group-flush">
                  <% if @shop_products.present? %>
                      <% @shop_products.first(5).each do |shop_product| %>
                        <li class="list-group-item bg-transparent">
                          <i class="fe fe-shopping-cart align-middle me-2 text-primary"></i>
                          <% if shop_product.shopkeeper_shop %>
                              <%= link_to shop_product.shopkeeper_shop.shop_name, user_shops_shopkeeper_shop_path(shop_product.shopkeeper_shop), class: 'text-decoration-none' %>
                          <% else %>
                              <%= link_to shop_product.shopkeeper_shop.shop_name, shopkeeper_shop_path(shop_product.shopkeeper_shop), class: 'text-decoration-none' %>
                          <% end %>
                        </li>
                      <% end %>
                  <% else %>
                      <li class="list-group-item bg-transparent">No shops available for this product.</li>
                  <% end %>
                </ul>
            </div>
          </div>
          <!-- Card -->
          <div class="card">
              <!-- Card body -->
              <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="position-relative">
                      <% if @category.picture.present? %>
                        <%= image_tag @category.picture.url, class: "rounded-circle avatar-xl" %>
                      <% else %>
                        <img src="<%= asset_path('category-logo.png') %>" alt="avatar" class="rounded-circle avatar-xl">
                      <% end %>
                      <a href="#" class="position-absolute mt-2 ms-n3" data-bs-toggle="tooltip" data-placement="top" title="Verified">
                        <img src="<%= asset_path('checked-mark.svg') %>" alt="checked-mark" height="30" width="30">
                      </a>
                    </div>
                      <div class="ms-4">
                          <h4 class="mb-0"><%= @product.category.name %></h4>
                          <p class="mb-1 fs-6"><%= @product.series %></p>
                          <span class="fs-6"><span class="text-warning">4.5</span><span
                                  class="mdi mdi-star text-warning me-2"></span>Rating</span>
                      </div>
                  </div>
                  <div class="border-top row mt-3 border-bottom mb-3 g-0">
                      <div class="col">
                          <div class="pe-1 ps-2 py-3">
                              <h5 class="mb-0"><%= @product.category.products.count %></h5>
                              <span>All Phones</span>
                          </div>
                      </div>
                      <div class="col border-start">
                          <div class="pe-1 ps-3 py-3">
                              <h5 class="mb-0"><%= @product.release_date %></h5>
                              <span>Release Date</span>
                          </div>
                      </div>
                      <div class="col border-start">
                          <div class="pe-1 ps-3 py-3">
                              <h5 class="mb-0">12,230</h5>
                              <span>Reviews</span>
                          </div>
                      </div>
                  </div>
                  <p>
                      I am an Innovation designer focussing on UX/UI based in
                      Berlin. As a creative resident at Figma explored the city of
                      the future and how new technologies.
                  </p>
                  <a href="instructor-profile.html" class="btn btn-outline-secondary btn-sm">View
                      Details</a>
              </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="pt-12 pb-3">
        <div class="row d-md-flex align-items-center mb-4">
          <div class="col-12">
            <h2 class="mb-0">Related Phones</h2>
          </div>
        </div>
        <div class="row">
          <% @related_products.each do |product| %>
            <div class="col-lg-3 col-md-6 col-12">
              <!-- Card -->
              <div class="card mb-4 card-hover">
                <a href="<%= product_path(product) %>" class="card-img-top">
                  <% if product.main_image.attached? %>
                    <%= image_tag product.main_image, alt: product.name, class: 'card-img-top rounded-top-md' %>
                  <% else %>
                    <%= image_tag 'official.png', alt: 'Placeholder', class: 'card-img-top rounded-top-md' %>
                  <% end %>
                </a>
                <!-- Card body -->
                <div class="card-body landing-card-body">
                  <h4 class="mb-2 text-truncate-line-2">
                    <a href="<%= product_path(product) %>" class="text-inherit card-img-top inner-img">
                      <div class="product-name">
                        <span class="name-part name-part-1"><%= product.name.split(' ').first %></span>
                        <span class="name-part name-part-2"><%= product.name.split(' ')[1..-1].join(' ') %></span>
                      </div>
                    </a>
                  </h4>
                  <ul class="mb-3 list-inline">
                    <li class="list-inline-item">
                      <%= number_to_currency(product.price, unit: "RS") %>
                    </li>
                    <li class="list-inline-item">
                      <i class="mdi mdi-chip text-muted me-1"></i><%= product.processor_prod %>
                    </li>
                    <li class="list-inline-item">
                      <i class="mdi mdi-camera text-muted me-1"></i><%= product.camera_prod %>
                    </li>
                  </ul>
                  <div class="lh-1">
                    <span>
                      <i class="mdi mdi-star text-warning me-n1"></i>
                      <i class="mdi mdi-star text-warning me-n1"></i>
                      <i class="mdi mdi-star text-warning me-n1"></i>
                      <i class="mdi mdi-star text-warning me-n1"></i>
                      <i class="mdi mdi-star-half text-warning"></i>
                    </span>
                    <span class="text-warning">4.5</span>
                    <span class="fs-6 text-muted">(7,700)</span>
                    <span>
                      <!-- Favorite/unfavorite button -->
                      <%= render product.favorited_by?(current_user) ? "products/unfavorite_icon" : "products/favorite_icon", product: product %>
                    </span>
                  </div>
                </div>
                <!-- Card footer -->
                <%# <div class="card-footer">
                  <div class="row align-items-center g-0">
                    <div class="col-auto">
                      <img src="/assets/avatar-1.jpg" class="rounded-circle avatar-xs" alt="avatar">
                    </div>
                    <div class="col ms-2">
                      <span>Author Name</span>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="text-muted bookmark">
                        <i class="fe fe-bookmark"></i>
                      </a>
                    </div>
                  </div>
                </div> %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>
