<!DOCTYPE html>
<html>
  <head>
    <title>MyMobilo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script>
      // Render blocking JS:
      if (localStorage.theme) document.documentElement.setAttribute("data-theme", localStorage.theme);
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_tag  %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <%= yield %>
    <%#= render partial: "shared/footer" %>
  </body>

  <!-- Scripts -->

  <script src="/assets/jquery.min.js"></script>
  <script src="/assets/bootstrap.bundle.min.js"></script>
  <script src="/assets/simplebar.min.js"></script>
  <!-- Theme JS -->
  <script src="/assets/theme.min.js"></script>
  <script src="/assets/popup.js"></script>
  <script src="/assets/popper.min.js"></script>
  <script src="/assets/tippy-bundle.umd.min.js"></script>
  <script src="/assets/jquery.magnific-popup.min.js"></script>
  <script src="/assets/tooltip.js"></script>
  <script src="/assets/tiny-slider.js"></script>
  <script src="/assets/tnsSlider.js"></script>
  <script src="/assets/products.js"></script>
</html>
